In [1]:
1 # Discuss string slicing and provide examples

#String slicing is used for obtaining a sub string from given string by acessing specific content from it.
#examples:-

a= "pwskills"
a[0:4]

'pwsk'

In [2]:
a[2:]

'skills'

In [10]:

2 #Explain the key features of lists in Python
    # ordered collection
    # mutable in nature
    # can hold items of various data types
    # moms shopping bag
lis=[1 ,2 ,3,"vaibhav","shruti",2.2]

In [12]:
3#  Describe how to access and modify and delete elements in a list with examples
 
lis=[1 ,2 ,3,"vaibhav","shruti",2.2,3+2j]
     
# list access   
lis[0]

1

In [13]:
lis[0:4]

[1, 2, 3, 'vaibhav']

In [16]:
# list modification
lis[0]= 500
lis

[500, 2, 3, 'vaibhav', 'shruti', 2.2, (3+2j)]

In [19]:
lis[4]="bittu"
lis

[500, 2, 3, 'vaibhav', 'bittu', 2.2, (3+2j)]

In [21]:
#deleting elements
del lis
lis

NameError: name 'lis' is not defined

In [23]:
4# Compare and contrast tuples and lists with examples

#list is mutable tuple is immutable 
#tuple provide secure way to store the data
#list have more operations while tuple have less then list

lis=[1,2,3,4]
tup=(1,2,3,4)
#mutable
lis[0]="vab"
lis

['vab', 2, 3, 4]

In [24]:
tup[0]="vab"

TypeError: 'tuple' object does not support item assignment

In [25]:
5# Describe the key features of sets and provide examples of their uses

# Unordered collections of unique elements
#The order doesn't matter, and duplicate entries are not allowed
# indexing not allowed
# finding the intersection/difference between sets.
# You can add or remove elements from a set, but you cannot access elements by index (since order doesn't matter). 

s= {1,2,2,2,"vab","vab",3.3}
s
#unique elements

{1, 2, 3.3, 'vab'}

In [26]:
s[0]
#indexing not allowed

TypeError: 'set' object is not subscriptable

In [27]:
s1={2,3,4,5}
s2={4,5,6,7}
s1|s2
#union

{2, 3, 4, 5, 6, 7}

In [28]:
s.add("shr")
s

{1, 2, 3.3, 'shr', 'vab'}

In [ ]:
6# Discuss the use cases of tuples and sets in Python programming

In [30]:
t=(1,2,3,"vab",4)
s={1,2,3,"vab",4}
# Tuples are useful for representing fixed datasets. 
# sets are useful for unique elements.
S= set()
S.add(10)
S.add(3.0)
S.add("Hello")
 
print(S)

{'Hello', 10, 3.0}

In [35]:
t[3]=5
#immutable

TypeError: 'tuple' object does not support item assignment

In [52]:
7# Describe how to add, modify and delete items in a dictionary with examples

#adding items
dic={"name":123, "value":324,"price":234}
dic["point"]=23
dic

{'name': 123, 'value': 324, 'price': 234, 'point': 23}

In [53]:
#modifying
dic["value"]=675
dic

{'name': 123, 'value': 675, 'price': 234, 'point': 23}

In [55]:
#delete
del dic["name"]
dic

{'value': 675, 'price': 234, 'point': 23}

In [57]:
8# Discuss the importance of dictionary keys being immutable and provide examples

# dictionary keys are being immutable because you can access the value of the dictionary with a key only
# and if its get changed the value become inaccesseble
#so data structures like list and set cannot be used as keys,
#tuple and string get used as keys 

dc = {'name': 123, 'value': 675, 'price': 234, 'point': 23}
dc["name"]

123

In [58]:
#if we give list as key it will throw error
p ={[1,2,3]:54}

TypeError: unhashable type: 'list'

In [61]:
#tuple as key will not throw error
p= {(1,2,3):56}
p[(1,2,3)]

56